ipython>=8.10
jupyterlab_server>=2.11.1
jupyterlab~=3.0
jupyter~=1.0
kedro~=0.19.10
kedro-telemetry>=0.3.1
notebook
kedro-datasets[pandas.CSVDataset, pandas.ExcelDataset, pandas.ParquetDataset, plotly.PlotlyDataset, plotly.JSONDataset, matplotlib.MatplotlibWriter]>=1.0
joblib~=1.4.2
pandas~=2.2.2
numpy~=1.26.4
spacy~=3.7.5
rake-nltk~=1.0.6
yake~=0.4.8
keybert~=0.8.5
transformers~=4.48.3
sentence-transformers~=3.4.1
accelerate~=1.2.1
langchain-openai # comment out if not planning to validate with LLM
langchain-community # comment out if not planning to validate with LLM
streamlit~=1.42.1 # comment out if not planning to run the app
networkx~=3.2.1 # comment out if not planning to run the handover notebook